#add.container(ng-init="teste()")
  .row
    .col-lg-4
      .form-group
        input(type="text" ng-model="task.title" placeholder="title").form-control
      .form-group
        input(type="text" ng-model="task.description" placeholder="description").form-control
    .col-lg-4
      .form-group
        input(type="text" ng-model="task.estimatedTime" placeholder="estimated time").form-control
      .form-inline
        label.padded
          input(type="checkbox" ng-model="task.priority.mustHave")
          | &nbsp; must have
        label
          input(type="checkbox" ng-model="task.priority.exciting")
          | &nbsp; exciting
  .row
    .col-lg-12
      button(type="button" ng-click="save()").btn.btn-default
        i.glyphicon.glyphicon-plus
        | &nbsp; Add
