#task.container(ng-init="get(taskId); initChronometer()")
  .row
    .col-lg-12
      h3
        b TASK: &nbsp;
        | {{task.title}} DETAILS
  .row
    .col-lg-12
      h4
        b STATUS: &nbsp;
        | {{task.status}}
  br
  .row
    .col-lg-12
      p {{task.description}}
  br
  .row
    .col-lg-3
      p
        b ESTIMATED TIME:
        br
        span.time {{task.estimatedTime}}:00
        br
        | minutes
    .col-lg-3
      p
        b REALIZED TIME:
        br
        span.time {{chronometer.minutes}}:{{chronometer.seconds}}
        br
        | minutes
  br
  div(ng-if="task.status !='done' ")
    .row
        .col-lg-3
          button(type='button'  ng-disabled='started' ng-click='start()').btn.btn-lg.btn-default
            span.glyphicon.glyphicon-play
            | &nbsp; START
        .col-lg-3
          button(type='button' ng-disabled='!started' ng-click='stop()').btn.btn-lg.btn-default
            span.glyphicon.glyphicon-stop
            | &nbsp;  STOP
    br
    .row
      .col-lg-3
        button(type='button' ng-click='finish()').btn.btn-lg.btn-default
          span.glyphicon.glyphicon-ok
          | &nbsp; DONE !
