/*
    O arquivo base.css no SMACSS deve conter regras básicas da aplicação,
    normalmente "css resets". Deve utilizar apenas seletores de elemento html.
*/

body {
    padding: 16px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c244a;
    font-size: 16px;
}

h1, h2, h3 {
color: 	#384b6a
}

ul {
    list-style: none;
}

footer {
    font-size: 12px
}