.grid {
    /* DIZ AO BROWSER QUE VAMOS TRABALHAR COM GRID LAYOUT */
    display: grid;

    /* 
        DEFINE A LARGURA E O NUMERO DE COLUNAS:
        Especificar a largura de cada coluna separada por um espaço
        pode-se usar %, px etc...
    */
    grid-template-columns: 33.33% 33.33% 33.33%;
    
    /* DEFINE O ESPAÇO ENTRE AS COLUNAS */
    grid-column-gap: 5px;

    /* DEFINE A LARGURA DAS LINHAS DA MESMA MANEIRA QUE AS COLUNAS */
    grid-template-rows: 33.33% 33.33% 33.33%;

    /* DEFINE O ESPAÇO ENTRRE AS LINHAS */
    grid-row-gap: 5px;
    
    height: 80%;
}

.grid2 {
    display: grid;
    
    /* COM A FUNÇÃO repeat() podemos repetir um valor x vezes: repeat(vezes, valor); */
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 200px);

    /* COM PROPRIEDADE grid-gap PODEMOS DEFINIR UM UNICO VALOR DE "gap" PARA LINHAS E COLUNAS */
    grid-gap: 10px;
}

.grid3 {
    display: grid;

    /* A UNIDADE fr permite definir um numero de "frações" da tela */
    grid-template-columns: 1fr 2fr;
    
    grid-template-rows: repeat(2, 400px);
    grid-gap: 5px;
}