/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #F7F7FF;
  color: #2B2C28;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px);
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background: #2B2C28;
  color: #F7F7FF;
}