/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background: #F7F7FF;
  color: #2B2C28;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}