/* flex-flow encapsula as propriedades flex-direction e flex-wrap em uma só */

.container {
    display: flex;
    flex-flow: row wrap;
    border: 1px solid #fff;
    width: 500px;
    height: 500px;
}