.board {
  width: 700px;
}

.board > .board__line {
  display: flex;
  height: 200px;
}

.board > .board__line > .board__house {
  border: 1px solid black;
  width: 233.33px;
  cursor: pointer;
}

.board > .board__line > .board__house:hover {
  opacity: 0.4;;
}