body {
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #E1E8E0;
    color: #375E59;
}

h3 {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

hr {
    color: #375E59;
}

.striped > div {
    padding: 12px;
    background: #B46384;
    font-weight: bold;
    color: #fff;
}

.striped > div:nth-child(even) {
    background: #B46384;
    opacity: 0.7;
}