html
	head
		meta(name="viewport" content="width=device-width")
		link(rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/site.css")
	body
		header.container-fluid
			.row
				.col-sm-3.col-sm-offset-5
					h3 Bella  Coisa
					p Por Natália Moneda
		content.container
			.row
				.col-sm-12
					.tags
						p #beleza #makeup #estudo #dicas
				.post-img
					h4 BANNER DO POST
				.post-disclaimer
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc leo risus, semper non aliquet vitae, vulputate ac justo. Proin fermentum augue eget tellus finibus, a aliquam tortor vehicula. Nullam aliquam interdum venenatis. Phasellus ac mollis massa. Duis consequat eleifend placerat. Quisque turpis velit, luctus ut ex vitae, sodales euismod tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque vulputate ornare massa, id commodo erat. Cras sed arcu mollis sem ullamcorper eleifend. Cras at urna nibh. Aenean nec elit ultrices enim mattis gravida. Nam aliquam cursus justo ut elementum. Phasellus ut quam non purus bibendum suscipit.
		footer.container-fluid
			.row
				ul
					li 
						a(href="#") Home
					li 
						a(href="#") Sobre
					li 
						a(href="#") Contato
					li 
						a(href="#") Anuncie




