<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>
<div class="container">
    <p *ngIf="mensagem.length" class="alert alert-info">{{mensagem}}</p>
    <div class="row">
        <div class="col-md-2">
            <form>
                <div class="input-group">
                    <span class="input-group-btn">
                        <a [routerLink]="['/cadastro']"  class="btn btn-primary">
                            Nova Foto
                        </a>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <input #textoProcurado (keyup)="0" type="text" class="form-control" />
        </div>
    </div>
    <br/>
</div>
<div class="container-fluid">
    <div class="row">
        <painel #painel *ngFor="let foto of fotos | filtroPorTitulo : textoProcurado.value" titulo="{{foto.titulo | uppercase}}" class="painel">
            <a [routerLink]="['/cadastro', foto._id]">
                <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
            </a>
            <br/>
            <botao estilo="btn btn-default" nome="REMOVER" confirmar="true" (acao)="modal.show()" ></botao>
            <modal #modal frase="Tem certeza que deseja remover esta foto?" (confirma)="remover(foto, painel)"></modal>
        </painel>
    </div>
</div>