.container {
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap; /* flex-flow encapsula as propriedades flex-direction e flex-wrap em uma só */

    border: 1px solid #fff;
    width: 500px;
    height: 500px;
}