.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background: #2B2C28;
  color: #F7F7FF;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}