/*
    JUSTIFY-CONTENT

    Utilizado para controlar o alinhamento de flex-itens no main axis.

    valores possíveis

    flex-start
    Este é o valor padrão e faz com que os itens se alinhem no inicio do main axis

    flex-end
    Faz com que os itens se alinhem ao final do main axis.

    center
    Faz com que os itens se alinhem no meio do main axis.

    space-around
    Faz com que os itens se alinhem sobre o main axis mantendo um espaço proporcional de um item
    para outro, além de manter um espaço antes do primeiro e depois do ultimo item.

    space-between
    Faz com que os itens se alinhem sobre o main axis mantendo um espaço proporcional de
    um item para outro, porém sem espaços nas extremidades.

*/

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.container {
    display: flex;
}
