body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h3, h4 { text-transform: uppercase; }

/* tasks.pug */
#tasks .row { padding: 0px 0px 20px 0px  }
#tasks .task-card { padding-bottom: 11px; }

/* task.pug */
#task p {  font-size: 17px;  }
#task .time { font-size:  60px }

#add .padded {
    padding-right: 15px;
    padding-top: 10px;
}
