body {
    font-family: Arial, Helvetica, sans-serif;
}

#whoToFollow {
    list-style: none;
}

#whoToFollow li {
    padding: 10px;
}

.avatar-url {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}